/*Variables*/

$primary-color-light: rgba(78, 81, 191, 1);
$primary-color-dark: #2e0079;
$dark-slate-blue: rgba(71, 58, 142, 1);
$violet-blue: rgba(60, 63, 168, 1);
$bg-back:#eeeef5;
$bright-purple: #514DC6;
$purple-active: #6459D6;
$white: #fff;
$off-white:  #fefefe;
$black: #000;
$off-black: #161616;
$logo-background-color: #e5e5f3;
$yellow: rgba(255, 189, 14, 1);
$border-header: #ececf3;
$job-heading: #333333;
$save-button: #2bce3e;
$button-disabled: #b2b2b2;
$dark-gray: #b0b0b0;
$background-gray: #e2e2e8;
$border-gray:  rgba(236, 236, 243, 1);
$trolley-gray: rgba(125, 125, 125, 1);
$bright-red: #ff0000;
$dark-red: rgba(250, 55, 55, 1);
$black-medium: rgba(51, 51, 51, 1);
$emp-background: rgba(240, 240, 246, 1);
$emp-header-color: #e0e6f8;